@import "tailwindcss";
/* @tailwind components;
@tailwind utilities; */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}




/* ======================
   Custom Animations
   ====================== */

/* Home Section */

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.82) translateY(40px);
  }

  65% {
    opacity: 1;
    transform: scale(1.05) translateY(-8px);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-pop-in {
  animation: pop-in 0.86s cubic-bezier(.43, .36, .3, 1) 0.15s both;
}

.video-delay {
  animation-delay: 0.22s !important;
}

/* Marquee */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 8s linear infinite;
}


/* About Section */

@keyframes slide-in-left {
  0% {
    opacity: 0;
    transform: translateX(-340px);
  }

  /* increase from -40px to -140px */
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-in-right {
  0% {
    opacity: 0;
    transform: translateX(340px);
  }

  /* increase from 40px to 140px */
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: slide-in-left 0.85s .08s cubic-bezier(.43, .36, .3, 1) both;
}

.slide-in-right {
  animation: slide-in-right 0.85s .18s cubic-bezier(.43, .36, .3, 1) both;
}

/* Celebrities */

.tilt-left {
  transform: perspective(900px) rotateY(18deg) translateZ(-40px) !important;
}

.tilt-right {
  transform: perspective(900px) rotateY(-18deg) translateZ(-40px) !important;
}